<!DOCTYPE html>

<html>
  <head>
    <title>Real Time Chat</title>
    <link rel="stylesheet" href='/styles.css'>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="main">
      <div class="header">
        <div class="name">Real Time Chat</div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle leave"></div>
      </div>

      <div class="grid">
        <div class="sidebar">
          <div class="users-header">Users</div>
          <div class="user-list"></div>
        </div>

        <div class="chat">
          <div class="chatbox"></div>
          <div class="input">        
            <input class="msg-input" type="text"></textarea>
            <button class="send-btn">&#8594;</button>            
          </div>
        </div>

      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/chat.js"></script>
  </body>

</html>
